[Install]
WantedBy=multi-user.target

[Unit]
Description= Khoi Nguyen NGUYEN Projects
After=network-online.target

[Service]
Type=simple
User=confession_sinhvien_vn_fr
Restart=on-failure
WorkingDirectory=/home/confession_sinhvien_vn_fr/Projects/descartes_underwriting_technical_test
ExecStart=/bin/bash demo_app_launcher.sh
RestartSec=1000ms